* {margin: 0;padding: 0;list-style: none;}
body,a,div,p,span,form,input,button,select,option,h1,h2,h3,h4,h5,h6,label,em{ margin:0px; padding:0px; font-family:"微软雅黑"; font-style:normal;  font-weight:100;}
a,img,input,button,select,option{ border:0;}
a{ text-decoration:none; }
.clearfix{display:block;}

.l{ float:left;}
.r{ float:right;}
.clear{ clear:both;}
.cover{
    padding: 20px 0.5rem;
}

.page{
    width: 100%;
    background-color: #ddd;
    position: fixed;
    bottom: 0;
}
.main{
    margin-bottom: 20px;
}
.menuBar{
    width: 20%;
    height: 100%;
}
.productBar{
    width: 76%;
    height: 100%;
    padding: 10px 2%;
}
.backLine{
    background-color: #1989fae0 !important;
    color: white !important;
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0;
}
.van-nav-bar__title,.van-nav-bar__text,.van-nav-bar .van-icon{
    color: white !important;
}
.actionLine{
    margin-top: 15px;
}
.uploadBtn{
    margin-right: 0.5rem;
}
.reviewBtn{
    margin-left: 0.5rem;
}
.content{
    margin-top: 40px;
}
.productName{
    font-size: larger;
}
